<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/d97cf611da.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav">
      <div class="hero">
        <h1>Nandish M</h1>
      </div>
    </div>
    <div class="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="project.html" class="dropbtn">Projects</a>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#">Tech</a>
            <a href="#">food</a>
          </div>
        </li>
        <li><a href="about.html" id="about">About </a></li>
        <li><a href="#" id="contact">contact</a></li>
      </ul>
    </div>
    <!-- about section -->
    <section class="about-section active" id="about">
      <h1 class="about-heading">About Me</h1>
      <div class="about">
        <div class="about-img-container">
          <img
            src="images/83916c42f7d5b8d2579ba508927607f5695b1f73.jpg"
            width="300px"
            height="300px"
          />
          <button class="downloadCv-btn">download cv</button>
        </div>
        <p class="about-info">
          I am Nandish M currently a sophomore at Dayananda sagar academy and
          technology and management, Banglore pursuing B.tech in Information
          Science and Technology. A Tech Enthusiastic with a zeal for coding,
          inovation, desigining, developing and experimenting various domains of
          technology. I do competative programming as my part time hobby and I
          would love to imporve in it and also Development. <br />
          Thank You!
        </p>
      </div>
    </section>
    <section class="skill-section">
      <h1 class="skill-heading">Skills</h1>
      <div class="img-container">
        <img src="images/html.jfif" />
        <img src="images/css.jfif" />
        <img src="images/js.jfif" />
        <img src="images/php.jfif" />
        <img src="images/c++.jfif" />
        <img src="images/c.png" />
        <img src="images/vs.jfif" />
        <img src="images/java.jfif" />
        <img src="images/github.jfif" />
        <img src="images/mysql.png" />
      </div>
    </section>
    <section class="education-section">
      <h1 class="ed-hero">My qualifications</h1>
      <div class="ed-container">
        <div class="rightbox">
          <div class="rb-container">
            <ul class="rb">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  2021-present<br />
                  B.E Information Science and technology
                </div>
                <div class="item-title">
                  Dayananda Sagar Academy of technology and management,
                  <br />Banglore
                </div>
              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  2019 - 2021<br />
                  Pre-University
                </div>
                <div class="item-title">
                  St.Francis composite Pre-university college,<br />Banglore
                </div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  2006 - 2019<br />
                  10th
                </div>
                <div class="item-title">--</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="social-connect">
      <p class="content">you can also connect with me here</p>
    </div>
    <div class="social-container">
      <div class="btn fb-btn">
        <a href="https://github.com/Eisenberg0618">
          <i class="fa-brands fa-github"></i
        ></a>
      </div>
      <div class="btn ig-btn">
        <a href="https://instagram.com/nandishm04?igshid=ZDdkNTZiNTM=">
          <i class="fa-brands fa-instagram" id="ig"></i
        ></a>
      </div>
      <div class="btn twi-btn">
        <a href="#"><i class="fa-brands fa-twitter" id="twit"></i></a>
      </div>
      <div class="btn in-btn">
        <a href="https://www.linkedin.com/in/nandish-m-1471b8233"
          ><i class="fa-brands fa-linkedin" id="in"></i
        ></a>
      </div>
    </div>
  </body>
</html>
